* {
  margin: 0;
  box-sizing: border-boxs;
}
body {
  background-color: #28282a;
  color: #e2c88d;
  display: grid;
  place-items: center;
}
header {
  background-color: #e2c88d;
  width: auto;
  display: grid;
  place-items: center;
}
.huvud {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 1em;
  margin: 0 3em 0 3em;
  width: 70%;
  @media (min-width: 620px) {
    width: 60%;
  }
  @media (min-width: 820px) {
    width: 50%;
  }
  @media (min-width: 1000px) {
    width: 40%;
  }
}

.logga {
  margin: 1em 0 1em 0;
  width: 100%;
  border-radius: 4em;
  @media (min-width: 450px) {
    width: 80%;
  }
  @media (min-width: 620px) {
    width: 70%;
  }
}
a {
  color: #000000;
  font-weight: bold;
}
main {
  margin: 0 3em 0 3em;
  display: grid;
  place-items: center;
  width: 90%;
  @media (min-width: 620px) {
    width: 85%;
  }
  @media (min-width: 820px) {
    width: 80%;
  }
  @media (min-width: 1000px) {
    width: 75%;
  }
  @media (min-width: 1200px) {
    width: 70%;
  }
  @media (min-width: 1600px) {
    width: 65%;
  }
  @media (min-width: 2000px) {
    width: 60%;
  }
}
.container {
  padding: 1.5em 0 1.5em 0;
  display: grid;
  place-items: center;
}
h1 {
  margin-bottom: 0.5em;
}
.hotellet {
  padding: 1em;
  margin-top: 2em;
  display: grid;
  place-items: center;
}
.Småcontainer {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  @media (min-width: 1300px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
}
.bilderhotel {
  width: 100%;
}
.bild {
  width: 100%;
  @media (min-width: 1000px) {
    width: 70%;
  }
}
ul {
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.button {
  background-color: #3b0b11;
  color: #e2c88d;
  width: 10em;
  height: 4em;
  border-radius: 1em;
  display: grid;
  place-items: center;
  text-decoration: none;
}
h2 {
  padding: 0.5em 0 0.5em 0;
}
.Text {
  color: #b2ab9b;
  font-weight: 500;
}
.bilderdator {
  padding-top: 1em;
  width: 50%;
  @media (min-width: 1000px) {
    width: 30%;
    padding-top: 2em;
  }
}
footer {
  background-color: #e2c88d;
  width: 100%;
  display: grid;
  place-items: center;
}
.fot {
  display: grid;
  place-items: center;
  width: 90%;
}
footer img {
  width: 30%;
  border-radius: 4em;
  padding: 1em;
}
